@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

@layer base {
  @font-face {
    font-family: Quantum;
    src: url("./fonts/quantum.otf");
  }
  @font-face {
    font-family: Tasa-SemiBold;
    src: url("./fonts/TASAOrbiterText-SemiBold.otf");
  }
}
