@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Quantum;
    src: url("./fonts/quantum.otf");
  }
  @font-face {
    font-family: Tasa-SemiBold;
    src: url("./fonts/TASAOrbiterText-SemiBold.otf");
  }
  @font-face {
    font-family: Tasa-Regular;
    src: url("./fonts/TASAOrbiterDeck-Regular.otf");
  }
  @font-face {
    font-family: Ethnocentric;
    src: url("./fonts/Ethnocentric.otf");
  }
  @font-face {
    font-family: Megatrans;
    src: url("./fonts/Megatrans.otf");
  }
}

html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
