@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sinosans';
  src: url('/fonts/Sinosans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#headingg{
  font-size: 200px;
  font-weight: 700;
  line-height: 201.8px;
  text-align: left;
  font-family: 'Sinosans', sans-serif;
}
